@font-face {
    font-family: 'Raleway';
    src: url('../../fonts/Raleway-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../fonts/Raleway-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../fonts/Raleway-SemiBold.ttf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
